.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  background: rgb(6, 22, 232);
  background: linear-gradient(
    90deg,
    rgba(6, 22, 232, 0.953676538974965) 0%,
    rgba(56, 92, 166, 1) 0%,
    rgba(28, 89, 140, 1) 100%,
    rgba(148, 0, 240, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
